<div class="footer py-4 bg-dark text-white-50">
    <div class="footer-wrapper row align-items-center border-top border-5 b border-dark m-0">

      <div class="contact-wrapper col-4">
        <div class="phone text-center"><a href="tel:+(054) 1234567">P: (054) 1234567</a></div>
        <div class="hours text-center"> 9:00 am - 5:30 pm </div>
      </div>
      
      <div class="col-4 text-center text-warning">
        <h2>CRM</h2><br>
        <h4>Customer relationship management</h4><br>
      </div>


      <div class="col-4">
        <div class="text-center address-wrapper">
          <div>
            Shoham 5, <br/>
            Ramat Gan, 52521
          </div>
        </div>
  
        <div class="text-center address-icon" >
          <a target="_blank" href="https://goo.gl/maps/atsSkanMsLFvBxQw7"><i class="fas fa-map-marker-alt"></i></a>
           
        </div>
      </div>
      <div class="container text-center">Copyright & copy Efrat Ben Yosef</div>

    </div>
</div>

    