<nav aria-label="Page navigation example m-0 position-absolute">
    <ul class="nav flex-column p-4 pagination fs-4">
        <li class="page-item"> <a routerLink="/customers" class="nav-link  page-link fs-5 text-light mb-4" style="background-color: rgb(22, 9, 81); border: none;"><i class="fa-solid fa-users"></i> Customers</a></li>
        <li> <a routerLink="/contacts" class="nav-link   page-link fs-5 text-light mb-4" style="background-color: rgb(22, 9, 81); border: none;"><i class="fa-regular fa-address-book"></i> Contacts</a></li>
        <li> <a routerLink="/leads" class="nav-link   page-link fs-5 text-light mb-4" style="background-color: rgb(22, 9, 81); border: none;"><i class="fa-regular fa-hand-point-up"></i> Leads </a></li>
        <li> <a routerLink="/reports" class="nav-link   page-link fs-5 text-light mb-4" style="background-color: rgb(22, 9, 81); border: none;"><i class="fa-regular fa-flag"></i> Reports </a></li>
        <li> <a routerLink="/integrations" class="nav-link   page-link fs-5 text-light mb-4" style="background-color: rgb(22, 9, 81); border: none;"><i class="fa-brands fa-yandex-international"></i> Integrations </a></li>
        <li> <a routerLink="/year-end-sale" class="nav-link  page-link fs-5 text-light" style="background-color: rgb(22, 9, 81); border: none;"><i class="fa-solid fa-champagne-glasses"></i> Year-end Sale </a></li>
    </ul>
</nav>
