<div class="container">
  <form  #addCustomer="ngForm" (ngSubmit)="addNewCustomer()" novalidate>
    <h3 class="display-3 text-center mt-3">Add new customer</h3>

    <div class="row">
      <div class="col-6">
    <span class="ng-star-inserted text-danger"> * </span>
    <div class="form-floating mb-4 required">
      <input
        type="text"              
        name="firstName"
        class="form-control"
        id="floatingInput"
        placeholder="Enter first name"
        [(ngModel)]="customer.firstName"              
        required            
        minlength="2"
        #firstName="ngModel"
      />
      <small 
      class="text-danger"
      *ngIf="firstName.invalid && (firstName.touched || firstName.dirty)"
      >Please provide a valid First Name.
      </small>
      <label for="floatingInput" class="control-label">First Name</label>
    </div>
  </div>

  <div class="col-6">
    <span class="ng-star-inserted text-danger"> * </span>
    <div class="form-floating mb-4">
      <input
        type="text"              
        name="lastName"
        class="form-control"
        id="form-floating"
        placeholder="Enter Last Name"
        [(ngModel)]="customer.lastName"              
        required                
        minlength="2"
        #lastName="ngModel"
        />
        <small 
        class="text-danger"
        *ngIf="lastName.invalid && (lastName.touched || lastName.dirty)"
        >
          Please provide a valid Last Name.
        </small>
        <label for="floatingInput" class="control-label">Last Name</label>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="col-6">
    <span class="ng-star-inserted text-danger"> * </span>
    <div class="form-floating mb-5">
        <input
          type="tel"                
          name="phone"
          class="form-control"
          id="floatingInput"
          placeholder="Enter phone"
          [(ngModel)]="customer.phone"                
          required            
          minlength="9"
          #phone="ngModel"
          />
          <small 
          class="text-danger"
          *ngIf="phone.invalid && (phone.touched || phone.dirty)"
          >
            Please provide a valid Phone.
          </small>
          <label for="floatingInput" class="control-label">Phone</label>
      </div>
    </div>
      
    <div class="col-6">
      <span class="ng-star-inserted text-danger"> * </span>
      <div class="form-floating mb-5">
        <input
          type="email"                
          name="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          [(ngModel)]="customer.email"                
          required
          email            
          #email="ngModel"
          />
          <small 
          class="text-danger"
          *ngIf="email.invalid && (email.touched || email.dirty)"
          >Please provide a valid Email.
          </small>
          <label for="floatingInput" class="control-label">Email</label>
      </div>
    </div>
  </div>

      <div class="form-floating mb-5">
        <input
          type="text"                      
          name="address"
          class="form-control"
          id="floatingInput"
          placeholder="Enter Address"
          [(ngModel)]="customer.address" 
          #address="ngModel"
          />
          <label for="floatingInput">Address</label>
        </div>


        <div class="form-floating mb-4">              
          <textarea 
          name="comments"                  
          class="form-control"                      
          id="floatingTextarea" 
          placeholder="Leave a comment here" 
          [(ngModel)]="customer.comments" 
          #comments="ngModel"             
          style="height: 100px"></textarea>
          <label for="floatingTextarea">Comments</label>
        </div>

        
      <button 
      type="submit" 
      class="btn btn-success mt-5 mb-5"
      [disabled]="addCustomer.invalid"
      >+ Add customer</button>
        
      <button 
        type="button" 
        class="btn btn-secondary m-3" 
        data-dismiss="modal"
        (click)="cancelModal()"
        >Cancel</button>
    </form>
    
</div>